---
layout: default
---

<article class="article-page" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>  
      {% if page.tags %}
      <span> / {{ page.tags | join: " · " }}</span>
      {% endif %}
    </div>
  </header>

  {% if site.enableToc %}
  <details class="toc-box">
    <summary>目录</summary>
    {% include toc.html html=content %}
  </details>
  {% endif %}

  <section class="post">
    {{ content }}
  </section>

</article>

{% include new-old.html %}
{% include comments.html %}
